[user]
pinned=/usr/share/applications/brave-browser.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/pcmanfm.desktop;
indicatorStyle=2
inactiveIndicatorStyle=2
indicatorOrientation=0
indicatorColor=rgb(255,163,72)
inactiveColor=rgb(76,166,230)
